<header id="data-header" class="header ">
  <div class="header__block">
    <div class="header__container">

    </div>
  </div>
  <div id="data-menu-btn" class="header-sp-menu">
    <span class="header-sp-menu-bar"></span>
    <span class="header-sp-menu-bar"></span>
    <span class="header-sp-menu-bar"></span>
  </div>
  <nav class="global-nav">
    <ul>
      <li>グローバルナビ1</li>
      <li>グローバルナビ2</li>
      <li>グローバルナビ3</li>
    </ul>
  </nav>
</header>