<div class="swiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide"><p>Slide 1</p><img src="<%= path %>assets/images/cat.jpg" alt="cat" style="max-width: 100%;"></div>
    <div class="swiper-slide"><p>Slide 2</p><img src="<%= path %>assets/images/cat.jpg" alt="cat" style="max-width: 100%;"></div>
    <div class="swiper-slide"><p>Slide 3</p><img src="<%= path %>assets/images/cat.jpg" alt="cat" style="max-width: 100%;"></div>
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
</div>
