<div class="column-components col--2">
    <div class="column__inner basis--7">
      <h1>two column layout</h1>
      <img src="./assets/images/cat.jpg" alt="cat" width="100">
    </div>
    <div class="column__inner basis--3">side bar</div>
  </div>
