<button class="button" data-target="modal1" data-id="1">Modal1を開く</button>
<button class="button" data-target="modal1" data-id="2">Modal2を開く</button>
<div id="modal" class="modal">
  <div class="modal__inner">
    <p class="modal__text error__text">Errorですよ</p>
    <p class="modal__text check__text">Checkですよ</p>
  </div>
  <div class="modal__bg"></div>
</div>
