// -------------------------------------------------------------------
// 	twoColumn.scss
// -------------------------------------------------------------------
@use "../helpers/variables" as var;
@use "../helpers/mixin" as mix;
@use "../helpers/mediaquery" as med;

.column-components {
  display: flex;
  flex-direction: row;

  @include med.media(sp) {
    flex-direction: column;
  }

  &.col--2 {
    .column__inner {
      flex-basis: calc(100% / 2);
    }
  }

  &.col--3 {
    .column__inner {
      flex-basis: calc(100% / 3);
    }
  }

  .basis--1 {
    flex-basis: 10%;
  }

  .basis--2 {
    flex-basis: 20%;
  }

  .basis--3 {
    flex-basis: 30%;
  }

  .basis--4 {
    flex-basis: 40%;
  }

  .basis--5 {
    flex-basis: 50%;
  }

  .basis--6 {
    flex-basis: 60%;
  }

  .basis--7 {
    flex-basis: 70%;
  }

  .basis--8 {
    flex-basis: 80%;
  }

  .basis--9 {
    flex-basis: 90%;
  }

  .basis--10 {
    flex-basis: 100%;
  }
}
